#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  min-width: 120px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*
App fills the entire page.
App-header is a header with a title above App-body which fills the rest of the
page.
App-body contains three text areas: A large App-input-textarea on the left,
and two smaller, App-env-textarea and App-output-text-areas, split vertically,
on the right.
*/

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.App-title {
  font-size: 2rem;
  font-weight: 500;
  color: #646cff;
}

.App-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
}

.App-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

.App-input-textarea {
  flex-grow: 1;
  padding: 1rem;
  font-size: 1rem;
  font-family: monospace;
  border: 1px solid #646cff;
  border-radius: 0.5rem;
  resize: none;
  overflow: auto;
}

.App-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

.App-env-textarea {
  flex-grow: 1;
  padding: 1rem;
  font-size: 1rem;
  font-family: monospace;
  border: 1px solid #646cff;
  border-radius: 0.5rem;
  resize: none;
  overflow: auto;
}

.App-output-textarea {
  flex-grow: 1;
  padding: 1rem;
  font-size: 1rem;
  font-family: monospace;
  border: 1px solid #646cff;
  border-radius: 0.5rem;
  resize: none;
  overflow: auto;
}
